[submodule "src/external_dependencies/ros2_kortex"]
	path = src/external_dependencies/ros2_kortex
	url = https://github.com/PickNikRobotics/ros2_kortex.git
[submodule "src/external_dependencies/ros2_kortex_vision"]
	path = src/external_dependencies/ros2_kortex_vision
	url = https://github.com/PickNikRobotics/ros2_kortex_vision.git
[submodule "src/external_dependencies/picknik_accessories"]
	path = src/external_dependencies/picknik_accessories
	url = https://github.com/PickNikRobotics/picknik_accessories.git
