<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="load_robot" params="
    parent
    *origin
    prefix:=''
    vision:=true
    use_fake_hardware:=false
    fake_sensor_commands:=false
    mujoco_model:=description/mujoco/scene.xml
    mujoco_model_package:=kinova_gen3_sim
    mujoco_viewer:=false
    mujoco_keyframe:=default
    initial_positions:=${dict(joint_1=0.0,joint_2=0.0,joint_3=0.0,joint_4=0.0,joint_5=0.0,joint_6=0.0,joint_7=0.0)}">

    <!-- Include and load arm macro files -->
    <xacro:include filename="$(find kinova_gen3_mock)/description/arms/gen3/7dof/urdf/gen3_macro.xacro" />

    <!-- Load the arm -->
    <xacro:load_arm
      parent="${parent}"
      vision="${vision}"
      prefix="${prefix}"
      use_fake_hardware="${use_fake_hardware}"
      fake_sensor_commands="${fake_sensor_commands}"
      mujoco_model="${mujoco_model}"
      mujoco_model_package="${mujoco_model_package}"
      mujoco_viewer="${mujoco_viewer}"
      mujoco_keyframe="${mujoco_keyframe}"
      initial_positions="${initial_positions}">
      <xacro:insert_block name="origin" />
    </xacro:load_arm>

    <!-- Include and load the gripper -->
    <xacro:include filename="$(find kinova_gen3_mock)/description/grippers/robotiq_2f_85/urdf/robotiq_2f_85_macro.xacro" />
    <xacro:load_gripper
      parent="${prefix}${last_arm_link}"
      prefix="${prefix}"
      fake_sensor_commands="${fake_sensor_commands}"/>

  </xacro:macro>

</robot>
