<?xml version="1.0"?>
<robot name="gen3" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Arguments for Kinova -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="vision" default="true" />
    <xacro:arg name="fake_sensor_commands" default="false" />

    <!-- Import macros for main hardware components -->
    <xacro:include filename="$(find kinova_gen3_mock)/description/kortex_robot.xacro" />

    <!-- Import environment macros -->
    <xacro:include filename="$(find picknik_accessories)/descriptions/geometry/cube.urdf.xacro"/>

    <!-- World is centered under base_link of the robot, on the ground -->
    <link name="world"/>

    <!-- Initial position for mock simulation -->
    <xacro:arg name="initial_positions_file" default="$(find kinova_gen3_mock)/config/initial_positions.yaml"/>
    <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

    <!-- Load the robot -->
    <xacro:load_robot
      parent="world"
      prefix="$(arg prefix)"
      vision="$(arg vision)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      initial_positions="${xacro.load_yaml(initial_positions_file)}" >
      <origin xyz="0 0 0.0" rpy="0 0 0" />
    </xacro:load_robot>

    <!-- Environment -->
    <xacro:cube link_name="table" connected_to="world" length="2.00" width="2.00" height="0.25" alpha="0.3">
      <origin xyz="0 0 -0.145" rpy="0 0 0"/>
    </xacro:cube>

    <!-- Motion planning grasp link at the TCP of the gripper -->
    <link name="$(arg prefix)grasp_link"/>
    <joint name="$(arg prefix)grasp_link_joint" type="fixed">
      <parent link="$(arg prefix)robotiq_85_base_link"/>
      <child link="$(arg prefix)grasp_link"/>
      <origin xyz="0 0 0.134" rpy="0 0 0"/>
    </joint>

</robot>
