<?xml version="1.0"?>
<robot name="gen3" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Arguments for Kinova -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="vision" default="true" />
    <xacro:arg name="hardware_interface" default="mock" />
    <xacro:arg name="fake_sensor_commands" default="false" />
    <xacro:arg name="mujoco_model" default="description/mujoco/scene.xml" />
    <xacro:arg name="mujoco_model_package" default="kinova_gen3_sim" />
    <xacro:arg name="mujoco_viewer" default="false" />
    <xacro:arg name="mujoco_keyframe" default="default" />
    <xacro:arg name="robot_ip" default="192.168.1.10" />
    <xacro:arg name="username" default="admin" />
    <xacro:arg name="password" default="admin" />
    <xacro:arg name="port" default="10000" />
    <xacro:arg name="port_realtime" default="10001" />
    <xacro:arg name="session_inactivity_timeout_ms" default="60000" />
    <xacro:arg name="connection_inactivity_timeout_ms" default="2000" />
    <xacro:arg name="tf_prefix" default="" />
    <xacro:arg name="use_internal_bus_gripper_comm" default="false" />
    <xacro:arg name="gripper" default="robotiq_2f_85" />
    <xacro:arg name="gripper_joint_name" default="robotiq_85_left_knuckle_joint" />
    <xacro:arg name="gripper_max_velocity" default="100.0" />
    <xacro:arg name="gripper_max_force" default="100.0" />

    <!-- Import macros for main hardware components -->
    <xacro:include filename="$(find kinova_gen3_mock)/description/kortex_robot.xacro" />

    <!-- Import environment macros -->
    <xacro:include filename="$(find picknik_accessories)/descriptions/geometry/cube.urdf.xacro"/>

    <!-- World is centered under base_link of the robot, on the ground -->
    <link name="world"/>

    <!-- Initial position for mock simulation -->
    <xacro:arg name="initial_positions_file" default="$(find kinova_gen3_mock)/config/initial_positions.yaml"/>
    <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

    <!-- Load the robot -->
    <xacro:load_robot
      parent="world"
      prefix="$(arg prefix)"
      vision="$(arg vision)"
      hardware_interface="$(arg hardware_interface)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      mujoco_model="$(arg mujoco_model)"
      mujoco_model_package="$(arg mujoco_model_package)"
      mujoco_viewer="$(arg mujoco_viewer)"
      mujoco_keyframe="$(arg mujoco_keyframe)"
      initial_positions="${xacro.load_yaml(initial_positions_file)}"
      robot_ip="$(arg robot_ip)"
      username="$(arg username)"
      password="$(arg password)"
      port="$(arg port)"
      port_realtime="$(arg port_realtime)"
      session_inactivity_timeout_ms="$(arg session_inactivity_timeout_ms)"
      connection_inactivity_timeout_ms="$(arg connection_inactivity_timeout_ms)"
      tf_prefix="$(arg tf_prefix)"
      use_internal_bus_gripper_comm="$(arg use_internal_bus_gripper_comm)"
      gripper="$(arg gripper)"
      gripper_joint_name="$(arg gripper_joint_name)"
      gripper_max_velocity="$(arg gripper_max_velocity)"
      gripper_max_force="$(arg gripper_max_force)" >
      <origin xyz="0 0 0.0" rpy="0 0 0" />
    </xacro:load_robot>

    <!-- Environment -->
    <xacro:cube link_name="table" connected_to="world" length="2.00" width="2.00" height="0.25" alpha="0.3">
      <origin xyz="0 0 -0.145" rpy="0 0 0"/>
    </xacro:cube>

    <!-- Motion planning grasp link at the TCP of the gripper -->
    <link name="$(arg prefix)grasp_link"/>
    <joint name="$(arg prefix)grasp_link_joint" type="fixed">
      <parent link="$(arg prefix)robotiq_85_base_link"/>
      <child link="$(arg prefix)grasp_link"/>
      <origin xyz="0 0 0.134" rpy="0 0 0"/>
    </joint>

</robot>
